<h1>Add New List</h1>

<form class="" action="/lists" method="post">
  <div class="form-group">
    <label for="name">Assign a name to your list:</label>
    <input type="text" name="name" placeholder="List Name" autofocus>
    <button type="submit">Ass List</button>
  </div>
</form>
